.demo {
  &-row {
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    flex-wrap: nowrap;
  }

  &-column {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

  &-button-group {
    display: flex;
    margin-top: 10px;
  }

  &-mt {
    margin-top: 10px;
  }
}
